# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/

# Environment
.env
.env.local
.env.*.local
frontend/.env
backend/.env

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage/

# Misc
*.pem
